body {
  overflow: hidden;
}

#teleport {
  height: 0px;
}

#container {
  font-family: 'Times New Roman';
  font-size: medium;
  height: 98.4vh;
}

#toosmall {
  display: none;
  padding: 50px 50px 50px 50px;
  margin: auto;
}

#essay-block {
  padding: 0px 25vw 50px 25vw;
  margin:auto;
}

#footnote-block {
  padding: 0px 25vw 50px 25vw;
  margin:auto;
  max-width: fit-content;
}

#citation-block {
  padding: 0px 0px 50px 0px;
  margin:auto;
  max-width: fit-content;
}

.photo-block {
  padding: 50px;
}

.image-grid {
  display:grid;
  align-items: center;
  column-gap:40px;
}

.photo {
  width: 40vw;
}

@media only screen and (max-width:1100px) {
  #container { display: none; }
  #toosmall { display: block; }
}



/*exhibition/bibliography button*/
#changedisplay {
  font-family: 'Times New Roman';
  font-size: medium;
  height: 25px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

#changedisplay:hover {
  color: grey;
  border-bottom-color: grey;
}

#changedisplay:active {
  color: #d0d0d0;
  border-bottom-color: #d0d0d0;
}

/*footnote links*/
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(128, 128, 128);
}
a:active {
  color:rgb(180, 180, 180);
}

.title {
  font-size: 23pt;
  padding-bottom: 20pt;
  padding-top: 20pt;
  text-align: center;
}

p {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: "Times New Roman"
}
/*paragraph class for initial writing*/
.c1 {
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: left;
  font-size: 12pt;
}

/*paragraph class for blurbs*/
.c12 {
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: left;
}

/*italics*/
.c8 {
  font-style: italic
}

/*footnote*/
.c10 {
  font-size: 9pt
}

/*centered, for bibliography title*/
.c39 {
  text-align: center
}

/*bibliography 2nd line indent*/
.c29 {
  text-indent: 36pt
}

/*general citation formatting*/
.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 12pt
}