#teleport {
  height: 0px;
}

#container {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

#essay-block {
  background-color: aqua;
  height: 1000px;
}

#citation-block {
  background-color: magenta;
  height: 1000px;
}

.photo {
  height: 600px;
}

#changedisplay {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  height: 25px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}
#changedisplay:hover {
  color: grey;
  border-bottom-color: grey;
}

#changedisplay:active {
  color: #d0d0d0;
  border-bottom-color: #d0d0d0;
}