body {
  overflow: hidden;
}

#teleport {
  height: 0px;
}

#container {
  font-family: 'Times New Roman';
  font-size: medium;
  height: 98.4vh;
}

#essay-block {
  padding: 0px 20vw 50px 20vw;
}

#citation-block {
  padding: 0px 20vw 50px 20vw;
}

.photo-block {
  padding: 50px;
}

.image-grid {
  display:grid;
  align-items: center;
  column-gap:5px;
}

.photo {
  height: 60vh;
}

#changedisplay {
  font-family: 'Times New Roman';
  font-size: medium;
  height: 25px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

#changedisplay:hover {
  color: grey;
  border-bottom-color: grey;
}

#changedisplay:active {
  color: #d0d0d0;
  border-bottom-color: #d0d0d0;
}